
.header {
    display: grid;
    width: 1340px;
    height: 109px;
    margin: 92px auto 92px;   
    grid-template-columns: 1.7fr 1.5fr 0.6fr;
    align-items:center;
}

.cover {
    display: flex;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    position: relative;
    z-index: 0;
}
.header_logo{
    display:block;
    width: 148px;
}
.header__logo-image {
    height: 105px;   
}

.header__links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px 32px;
    list-style: circle;
}
.header__link_active .header__links-list {
    text-decoration: none;
}
.header__links-list-item_no-circle {
    list-style: none;
}
.header__links {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.address{
    font-style: normal;
}

.cover_title {
    word-spacing: 60px;
    line-height: 100%;
    position: absolute;
    z-index: 1;

}
.aligned-text{
    display:block;
    height: 115px;
    margin: 165px auto 20px 50px; 
    
}
.aligned-text_center {
    display:block;
    height: 100px; 
    margin: 0px auto 20px;
    text-align: center;
}
.aligned-text_right {
    display:block;
    height: 100px;
    margin: 0px 50px 135px; 
    text-align: right;   
}
.cover__description{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.cover__description-text {
    margin-top: 12px;
    word-spacing: 28px;
}
.bet-button{
    display:flex;
    justify-content: center;
    width: 257px;
    height: 52px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    white-space: nowrap;
    margin-right: 50px;
    margin-left: 78px;
    background-color: transparent;  
}
.button_letters{
    margin: 12px 32px;
    text-decoration: none;
}
.letter-spacing-extended{
    letter-spacing: 45px;
}
.no-letter-spacing {
    letter-spacing: normal;
}