
.header {
    display: grid;
    width: 1340px;
    height: 109px;
    margin: 92px auto 92px;  
    background-color: aqua; 
    grid-template-columns: 1.7fr 1.5fr 0.6fr;
    align-items:center;
}

.cover {
    display: flex;
    background-image: url(.\images\cover.jpg);
    background-size: 100% 100%;

}
.header_logo{
    display:block;
    width: 148px;
}
.header__logo-image {
    height: 105px;   
}


.header__links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px 32px;
    list-style: circle;
}
.header__link_active .header__links-list {
    text-decoration: none;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__links {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.address{
    font-style: normal;
}
